In [3]:
#Q1
("sharathInfo@merakii.com").split('@')[1].split('.')[0]

'merakii'

In [5]:
lst = []
str_words = input('Enter words seperated by comma ')
x = str_words.split(',')
x.sort()

for i in x:
    lst.append(i)   

print('The words in sorted order: ',','.join(lst))

Enter words seperated by comma manish,uday,sandeep,akhil,wazid
The words in sorted order:  akhil,manish,sandeep,uday,wazid

In [7]:
#Q2

In [8]:

# Set is a collection like list and tuple, which are unordered and unindexed. Sets are represented in { } braces.

# As it says sets are unordered, we camnot predict its order. The items in set will appear in random order. for example:

x = {'cars', 'bikes','planes'}
print(x)

{'bikes', 'planes', 'cars'}

In [9]:
# Set has built-in methods to make ease for developers. It has a quite a good number of methods which makes things easier.

In [10]:
# If a set is created once you cannot change its items, but u can add items using add().
sets = {'Volkswagen','Skoda','Audi'}
sets.add('Ford')
print(sets)

{'Skoda', 'Audi', 'Volkswagen', 'Ford'}

In [11]:
# You can make a copy of set using copy().
sets = {'Volkswagen','Skoda','Audi'}
sets.copy()
print(sets)

{'Skoda', 'Audi', 'Volkswagen'}

In [12]:

# Return a set that contains the items that only exist in sets , and not in sets1

sets = {'Volkswagen','Skoda','Audi','ford'}
sets1 = {'Skoda','Volkswagen','Bmw','Benz'}
x = sets.difference(sets1)
print(x)

{'Audi', 'ford'}

In [13]:
#
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.difference_update(sets1)
print(sets)

{'Audi'}

In [14]:
# discard() removes the specified item from the set and returns remaining items in the set.
sets = {'Volkswagen','Skoda','Audi'}
sets.discard('Audi')
print(sets)

{'Skoda', 'Volkswagen'}

In [15]:
# intersection() returns a set that contains the common items from both the sets.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.intersection(sets1)
print(x)

{'Volkswagen', 'Skoda'}

In [16]:
# it works same as intersection() method it takes 3 sets to find the common items contains from the 3 sets.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets2 = {'Polo','Figo','Volkswagen'}
sets.intersection_update(sets1,sets2)
print(sets)

{'Volkswagen'}

In [17]:
# Returns True if no items in sets is present in sets1 else it returns False.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
x = sets.isdisjoint(sets1)
print(x)

False

In [18]:
# Return True only if all items present in sets  are present in sets1
sets1 = {'Volkswagen','Skoda','Audi'}
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
x = sets.issubset(sets1)
print(x)

False

In [19]:
# Return True only if all items present in sets1 are present in sets
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x = sets.issuperset(sets1)
print(x)

True

In [20]:
# pop() method removes the item. As set is unordered the output is random.
sets = {'1','2','3'}
sets.pop()
print(sets)

{'3', '2'}

In [21]:
# remove() method removes the specific item from the set. and the output is always random.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets.remove('Audi')
print(sets)

{'Skoda', 'Volkswagen', 'Bmw', 'Benz'}

In [22]:
# Return a set that contains all items from both sets, except items that are present in both sets
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
x  = sets.symmetric_difference(sets1)
print(x)

{'Benz', 'Bmw'}

In [23]:
# Removes items contains in both the sets and returns the remaining items from both the sets.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi'}
sets.symmetric_difference_update(sets1)
print(sets)

{'Bmw', 'Benz'}

In [24]:
# union() method basically returns a set contains all the items after removing the duplicate items.
sets = {'Volkswagen','Bmw','Benz','Skoda','Audi'}
sets1 = {'Volkswagen','Skoda','Audi','Ford'}
x = sets.union(sets1)
print(x)

{'Ford', 'Skoda', 'Volkswagen', 'Bmw', 'Benz', 'Audi'}

In [25]:
# update() method updates the items from both the sets, no duplicates.
sets = {'Volkswagen','Skoda','Audi'}
sets1 = {'Volkswagen','Bmw','Benz','Skoda'}
sets.update(sets1)
print(sets)

{'Volkswagen', 'Bmw', 'Benz', 'Audi', 'Skoda'}

In [26]:
# clear() method will wipe out all the items from the set and returns an empty set.
sets = {'Volkswagen','Skoda','Audi'}
sets.clear()
print(sets)

set()

In [28]:
#Q4
def missing_number(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
 
lst = [1, 2, 4, 6, 3, 7, 8] 
print(missing_number(lst))

[5]

In [30]:
#Q5
lst = input('Enter the numbers: ')
li = lst.split(' ')

for i in li:
    limit = li.count(i)
    if limit >= 2:
        li.remove(i)
li.sort()

print('The output is',' '.join(li))

Enter the numbers: 12 24 35 24
The output is 12 24 35